@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes expand {
  from {
    transform: scale(0.8, 0.8);
  }
  /* Start at 80% size */
  to {
    transform: scale(1, 1);
  }
  /* Expand to full size */
}
@keyframes shrink {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.8, 0.8);
  }
}
body {
  font-family: Arsenal, Helvetica, sans-serif;
  color: #222222;
}

.header1 {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 768px) {
  .header1 {
    font-size: 4rem;
  }
}
@media (min-width: 1280px) {
  .header1 {
    font-size: 72px;
  }
}

.subheader {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
@media (min-width: 768px) {
  .subheader {
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .subheader {
    font-size: 1.5rem;
  }
}

.header2 {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .header2 {
    font-size: 2.625rem;
  }
}
@media (min-width: 1280px) {
  .header2 {
    font-size: 56px;
    line-height: 3.25rem;
  }
}

.header3 {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .header3 {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .header3 {
    padding-bottom: 24px;
  }
}
@media (min-width: 1280px) {
  .header3 {
    font-size: 2rem;
  }
}

.header4 {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
@media (min-width: 1280px) {
  .header4 {
    font-size: 1.5rem;
  }
}

.body {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.caption {
  margin: 0;
  padding: 16px 0;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.primary {
  font-family: Arsenal, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  background-color: #222222;
  border: none;
  color: #F7EFE5;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  transition: transform 0.3s;
}
@media (min-width: 768px) {
  .primary {
    max-width: 320px;
  }
}
@media (min-width: 1280px) {
  .primary {
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 420px;
  }
}
.primary:hover {
  transform: scale(1.05);
}

.secondary {
  font-family: Arsenal, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  background: none;
  border: 2px #222222 solid;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 32px;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: left;
  color: #222222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  transition: transform 0.3s;
}
@media (min-width: 768px) {
  .secondary {
    max-width: 320px;
  }
}
@media (min-width: 1280px) {
  .secondary {
    padding-top: 14px;
    padding-bottom: 14px;
    max-width: 420px;
  }
}
.secondary:hover {
  transform: scale(1.05);
}

.link {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1280px) {
  .link {
    font-size: 1.5rem;
  }
}
.link:hover {
  border-bottom: 1px solid #F7EFE5;
  color: #F7EFE5;
}

.skip-to-main-content-link {
  position: absolute;
  padding: 1em;
  background-color: #222222;
  color: #F7EFE5;
  opacity: 0;
}

.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F7EFE5;
  list-style-position: inside;
}

.header {
  padding-inline: 1.25rem;
  margin-top: 24px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .header {
    padding-inline: 4rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-inline: 5rem;
    margin-inline: auto;
    min-width: 1020px;
  }
}
.header__img {
  margin-top: 20px;
  width: auto;
  max-height: 50vh;
}
@media (min-width: 1280px) {
  .header__img {
    margin-top: 24px;
    height: auto;
    max-height: 60vh;
  }
}
.header__header1 {
  margin-top: 16px;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (min-width: 1280px) {
  .header__header1 {
    padding-bottom: 16px;
  }
}
.header__subheaders {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
@media (min-width: 768px) {
  .header__subheaders {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    max-width: 664px;
  }
}
@media (min-width: 1280px) {
  .header__subheaders {
    max-width: 1200px;
    margin-bottom: 40px;
  }
}
.header__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .header__buttons {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;
  }
}
@media (min-width: 1280px) {
  .header__buttons {
    margin-bottom: 120px;
  }
}

.about__header2 {
  margin: 0;
}
.about__description {
  margin: 0;
}
.about__img {
  width: 100%;
  margin: 0;
}
.about__button {
  margin-top: 16px;
  font-family: Arsenal, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  background-color: #222222;
  border: none;
  color: #F7EFE5;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  transition: transform 0.3s;
}
@media (min-width: 768px) {
  .about__button {
    max-width: 320px;
  }
}
@media (min-width: 1280px) {
  .about__button {
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 100%;
  }
}
.about__button:hover {
  transform: scale(1.05);
}

.main {
  padding-inline: 1.25rem;
}
@media (min-width: 768px) {
  .main {
    padding-inline: 4rem;
  }
}
@media (min-width: 1280px) {
  .main {
    padding-inline: 5rem;
    margin-inline: auto;
    min-width: 1020px;
  }
}
@media (min-width: 1280px) {
  .main {
    margin-inline: auto;
    max-width: 1000px;
  }
}

.projects {
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .projects {
    margin-bottom: 120px;
  }
}
.projects__header2 {
  margin: 0;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .projects__header2 {
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .projects__header2 {
    padding-bottom: 32px;
  }
}
.projects__article {
  position: relative;
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: auto;
  display: grid;
  grid-column: 1/-1;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .projects__article {
    --columns: 4;
    column-gap: auto;
  }
}
@media (min-width: 1280px) {
  .projects__article {
    --columns: 12;
    column-gap: 16px;
  }
}
@media (min-width: 1280px) {
  .projects__article {
    margin-bottom: 120px;
  }
}
.projects__content {
  grid-column: 1/-1;
  margin: 0;
  padding-bottom: 8px;
}
@media (min-width: 1280px) {
  .projects__content {
    grid-column: 1/5;
    height: fit-content;
  }
}
.projects__tags {
  font-weight: 600;
}
.projects__img {
  grid-column: 1/-1;
  width: 100%;
  padding-bottom: 16px;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 1280px) {
  .projects__img {
    padding: 0;
    grid-column: 6/13;
    grid-row: 1/4;
    height: 100%;
  }
}
.projects__button {
  grid-column: 1/-1;
  padding-top: 16px;
  padding-bottom: 16px;
  height: fit-content;
}
@media (min-width: 1280px) {
  .projects__button {
    grid-column: 1/5;
  }
}

.footer {
  padding: 0 !important;
  margin-top: 80px;
  background-color: #182060;
}
.footer__links {
  padding-inline: 1.25rem;
  margin: 0;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  list-style: none;
}
@media (min-width: 768px) {
  .footer__links {
    padding-inline: 4rem;
  }
}
@media (min-width: 1280px) {
  .footer__links {
    padding-inline: 5rem;
    margin-inline: auto;
    min-width: 1020px;
  }
}
@media (min-width: 768px) {
  .footer__links {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .footer__links {
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
  }
}
.footer__link {
  text-decoration: none;
  color: #F7EFE5;
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.case-study__header1, .case-study__header2 {
  padding-top: 0;
}
.case-study__close-container {
  padding-inline: 1.25rem;
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
@media (min-width: 768px) {
  .case-study__close-container {
    padding-inline: 4rem;
  }
}
@media (min-width: 1280px) {
  .case-study__close-container {
    padding-inline: 5rem;
    margin-inline: auto;
    min-width: 1020px;
  }
}
.case-study__close-link {
  padding: 10px;
  height: 24px;
  background-color: #EBC012;
  border-radius: 80px;
  position: fixed;
}
@media (min-width: 768px) {
  .case-study__close-link {
    padding: 16px;
  }
}
.case-study__block {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: auto;
  display: grid;
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .case-study__block {
    --columns: 4;
    column-gap: auto;
  }
}
@media (min-width: 1280px) {
  .case-study__block {
    --columns: 12;
    column-gap: 16px;
  }
}
@media (min-width: 1280px) {
  .case-study__block {
    padding-top: 24px;
  }
}
.case-study__content {
  margin: 0;
}
.case-study__content-first {
  grid-column: 1/-1;
}
@media (min-width: 1280px) {
  .case-study__content-first {
    grid-row: 1;
    grid-column: 1/7;
  }
}
.case-study__content-second {
  grid-column: 1/-1;
}
@media (min-width: 1280px) {
  .case-study__content-second {
    padding-left: 40px;
    grid-row: 1;
    grid-column: 7/13;
  }
}
.case-study__image {
  width: 100%;
  grid-column: 1/-1;
  object-fit: cover;
}
.case-study__caption {
  text-align: center;
  width: 100%;
  margin-inline: auto;
}
.case-study__caption-extra {
  padding-bottom: 40px;
}
.case-study__section {
  margin-top: 48px;
  padding-inline: 1.25rem;
}
@media (min-width: 768px) {
  .case-study__section {
    padding-inline: 4rem;
  }
}
@media (min-width: 1280px) {
  .case-study__section {
    padding-inline: 5rem;
    margin-inline: auto;
    min-width: 1020px;
  }
}
@media (min-width: 1280px) {
  .case-study__section {
    margin-top: 64px;
    max-width: 1000px;
    margin-inline: auto;
  }
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  text-align: center;
}

.lightbox img {
  display: block;
  max-width: 100vw;
  overflow-y: auto;
}

#lightbox-content:target,
#lightbox-content-1:target,
#lightbox-content-2:target,
#lightbox-content-3:target,
#lightbox-content-4:target,
#lightbox-content-7:target,
#lightbox-content-8:target,
#lightbox-content-10:target,
#lightbox-content-11:target,
#lightbox-content-12:target,
#lightbox-content-13:target {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  animation: expand 0.2s ease-in-out forwards;
}
@media (min-width: 1280px) {
  #lightbox-content:target,
  #lightbox-content-1:target,
  #lightbox-content-2:target,
  #lightbox-content-3:target,
  #lightbox-content-4:target,
  #lightbox-content-7:target,
  #lightbox-content-8:target,
  #lightbox-content-10:target,
  #lightbox-content-11:target,
  #lightbox-content-12:target,
  #lightbox-content-13:target {
    align-items: start;
  }
}

#lightbox-content-5:target,
#lightbox-content-6:target,
#lightbox-content-9:target {
  display: flex;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  animation: expand 0.2s ease-in-out forwards;
}
@media (min-width: 1280px) {
  #lightbox-content-5:target,
  #lightbox-content-6:target,
  #lightbox-content-9:target {
    align-items: start;
  }
}

#lightbox-content {
  animation: shrink 4s ease-in-out backwards;
}

.lightbox-close-text {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  /* Add cursor pointer for better UX */
}

.lightbox-close-text:hover {
  opacity: 0.8;
  /* Slight opacity change on hover for better UX */
}

.lightbox-close-text:link,
.lightbox-close-text:visited {
  text-decoration: none;
  /* Remove default underline from link */
}

.user-profile__challenge {
  margin-top: 16px;
}

.monee__content-left {
  grid-column: 1/-1;
}
@media (min-width: 1280px) {
  .monee__content-left {
    grid-row: 1;
    grid-column: 1/4;
  }
}
.monee__image-right {
  grid-column: 1/-1;
}
@media (min-width: 1280px) {
  .monee__image-right {
    grid-row: 1;
    grid-column: 5/13;
  }
}
.monee__content-right {
  grid-column: 1/-1;
}
@media (min-width: 1280px) {
  .monee__content-right {
    padding-left: 20px;
    grid-row: 1;
    grid-column: 9/13;
  }
}
.monee__image-left {
  grid-column: 1/-1;
}
@media (min-width: 1280px) {
  .monee__image-left {
    grid-row: 1;
    grid-column: 1/9;
  }
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.nav__link {
  text-decoration: none;
  color: #222222;
  font-size: 20px;
}
@media (min-width: 1280px) {
  .nav__link {
    font-size: 24px;
  }
}
.nav__link:hover {
  transform: scale(1.05);
}

.hero__img {
  margin-top: 24px;
  width: 100%;
  height: 72vh;
  object-fit: cover;
}
.hero__intro {
  margin-top: 40px;
  padding-inline: 1.25rem;
  margin-inline: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero__intro {
    padding-inline: 4rem;
  }
}
@media (min-width: 1280px) {
  .hero__intro {
    padding-inline: 5rem;
    margin-inline: auto;
    min-width: 1020px;
  }
}
@media (min-width: 1280px) {
  .hero__intro {
    padding-inline: 0;
  }
}
@media (min-width: 1280px) {
  .hero__intro {
    flex-direction: row;
    gap: 40px;
  }
}
@media (min-width: 1280px) {
  .hero__copy {
    width: 50%;
  }
}

.recommendations {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #F4DB61;
}
.recommendations__header2 {
  margin-inline: auto;
  max-width: 1000px;
  padding-inline: 1.25rem;
}
@media (min-width: 768px) {
  .recommendations__header2 {
    padding-inline: 4rem;
  }
}
@media (min-width: 1280px) {
  .recommendations__header2 {
    padding-inline: 5rem;
    margin-inline: auto;
    min-width: 1020px;
  }
}
@media (min-width: 1280px) {
  .recommendations__header2 {
    padding-inline: 0;
  }
}
.recommendations__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-inline: auto;
  max-width: 1000px;
  padding-inline: 1.25rem;
}
@media (min-width: 768px) {
  .recommendations__wrapper {
    padding-inline: 4rem;
  }
}
@media (min-width: 1280px) {
  .recommendations__wrapper {
    padding-inline: 5rem;
    margin-inline: auto;
    min-width: 1020px;
  }
}
@media (min-width: 1280px) {
  .recommendations__wrapper {
    padding-inline: 0;
  }
}
@media (min-width: 1280px) {
  .recommendations__wrapper {
    flex-direction: row;
    gap: 48px;
  }
}
.recommendations__header3 {
  padding-bottom: 16px;
  margin-inline: auto;
  max-width: 1000px;
}

.training {
  padding-inline: 1.25rem;
  padding-top: 40px;
  margin-inline: auto;
  max-width: 1000px;
}
@media (min-width: 768px) {
  .training {
    padding-inline: 4rem;
  }
}
@media (min-width: 1280px) {
  .training {
    padding-inline: 5rem;
    margin-inline: auto;
    min-width: 1020px;
  }
}
@media (min-width: 1280px) {
  .training {
    padding-inline: 0;
  }
}
.training__lists {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: auto;
  display: grid;
}
@media (min-width: 768px) {
  .training__lists {
    --columns: 4;
    column-gap: auto;
  }
}
@media (min-width: 1280px) {
  .training__lists {
    --columns: 12;
    column-gap: 16px;
  }
}
.training__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.training__header3 {
  grid-column: 1/-1;
  margin: 0;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .training__header3 {
    grid-column: 1/3;
  }
}
@media (min-width: 1280px) {
  .training__header3 {
    grid-column: 1/6;
  }
}
@media (min-width: 768px) {
  .training__header3-training {
    grid-column: 3/5;
    grid-row: 1;
  }
}
@media (min-width: 1280px) {
  .training__header3-training {
    grid-column: 7/13;
  }
}
.training__header4 {
  margin: 0;
  padding-bottom: 0;
}
.training__skills {
  grid-column: 1/-1;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .training__skills {
    grid-column: 1/3;
  }
}
@media (min-width: 1280px) {
  .training__skills {
    grid-column: 1/6;
    padding-bottom: 0;
  }
}
.training__trainings {
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .training__trainings {
    grid-column: 3/5;
  }
}
@media (min-width: 1280px) {
  .training__trainings {
    grid-column: 7/13;
  }
}
.training__body {
  padding-bottom: 8px;
}
.training__caption {
  margin-top: 0;
}
